{
    "smithy": "2.0",
    "metadata": {
        "validators": [
            {
                "configuration": {
                    "messageTemplate": "Every operation must have an input shape.",
                    "selector": "operation :not(-[input]-> *)"
                },
                "id": "OperationInputOutputValidation",
                "name": "EmitEachSelector"
            }
        ]
    },
    "shapes": {
        "aws.api#ArnNamespace": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "A string representing a service's ARN namespace.",
                "smithy.api#pattern": "^[a-z0-9.\\-]{1,63}$",
                "smithy.api#private": {}
            }
        },
        "aws.api#CloudFormationName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "A string representing a CloudFormation service name.",
                "smithy.api#pattern": "^[A-Z][A-Za-z0-9]+$",
                "smithy.api#private": {}
            }
        },
        "aws.api#TagOperationReference": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Points to an operation designated for a tagging APi",
                "smithy.api#idRef": {
                    "failWhenMissing": true,
                    "selector": "resource > operation"
                }
            }
        },
        "aws.api#TaggableApiConfig": {
            "type": "structure",
            "members": {
                "tagApi": {
                    "target": "aws.api#TagOperationReference",
                    "traits": {
                        "smithy.api#documentation": "The `tagApi` property is a string value that references a non-instance\nor create operation that creates or updates tags on the resource.",
                        "smithy.api#required": {}
                    }
                },
                "untagApi": {
                    "target": "aws.api#TagOperationReference",
                    "traits": {
                        "smithy.api#documentation": "The `untagApi` property is a string value that references a non-instance\noperation that removes tags on the resource.",
                        "smithy.api#required": {}
                    }
                },
                "listTagsApi": {
                    "target": "aws.api#TagOperationReference",
                    "traits": {
                        "smithy.api#documentation": "The `listTagsApi` property is a string value that references a non-\ninstance operation which gets the current tags on the resource.",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Structure representing the configuration of resource specific tagging APIs"
            }
        },
        "aws.api#arn": {
            "type": "structure",
            "members": {
                "template": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Defines the ARN template. The provided string contains URI-template\nstyle label placeholders that contain the name of one of the identifiers\ndefined in the `identifiers` property of the resource. These labels can\nbe substituted at runtime with the actual identifiers of the resource.\nEvery identifier name of the resource MUST have corresponding label of\nthe same name. Note that percent-encoding **is not** performed on these\nplaceholder values; they are to be replaced literally. For relative ARN\ntemplates that have not set `absolute` to `true`, the template string\ncontains only the resource part of the ARN (for example,\n`foo/{MyResourceId}`). Relative ARNs MUST NOT start with \"/\".",
                        "smithy.api#required": {}
                    }
                },
                "absolute": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "Set to true to indicate that the ARN template contains a fully-formed\nARN that does not need to be merged with the service. This type of ARN\nMUST be used when the identifier of a resource is an ARN or is based on\nthe ARN identifier of a parent resource."
                    }
                },
                "noRegion": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "Set to true to specify that the ARN does not contain a region. If not\nset, or if set to false, the resolved ARN will contain a placeholder\nfor the region. This can only be set to true if `absolute` is not set\nor is false."
                    }
                },
                "noAccount": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "Set to true to specify that the ARN does not contain an account ID. If\nnot set, or if set to false, the resolved ARN will contain a placeholder\nfor the customer account ID. This can only be set to true if absolute\nis not set or is false."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Specifies an ARN template for the resource.",
                "smithy.api#externalDocumentation": {
                    "Reference": "https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html"
                },
                "smithy.api#trait": {
                    "selector": "resource"
                }
            }
        },
        "aws.api#arnReference": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The AWS CloudFormation resource type contained in the ARN."
                    }
                },
                "resource": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "An absolute shape ID that references the Smithy resource type contained\nin the ARN (e.g., `com.foo#SomeResource`). The targeted resource is not\nrequired to be found in the model, allowing for external shapes to be\nreferenced without needing to take on an additional dependency. If the\nshape is found in the model, it MUST target a resource shape, and the\nresource MUST be found within the closure of the referenced service\nshape."
                    }
                },
                "service": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The Smithy service absolute shape ID that is referenced by the ARN. The\ntargeted service is not required to be found in the model, allowing for\nexternal shapes to be referenced without needing to take on an\nadditional dependency."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Marks a string as containing an ARN.",
                "smithy.api#trait": {
                    "selector": "string"
                }
            }
        },
        "aws.api#clientDiscoveredEndpoint": {
            "type": "structure",
            "members": {
                "required": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "This field denotes whether or not this operation requires the use of a\nspecific endpoint. If this field is false, the standard regional\nendpoint for a service can handle this request. The client will start\nsending requests to the standard regional endpoint while working to\ndiscover a more specific endpoint.",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Indicates that the target operation should use the client's endpoint\ndiscovery logic.",
                "smithy.api#trait": {
                    "selector": "operation"
                }
            }
        },
        "aws.api#clientEndpointDiscovery": {
            "type": "structure",
            "members": {
                "operation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Indicates the operation that clients should use to discover endpoints\nfor the service.",
                        "smithy.api#idRef": {
                            "failWhenMissing": true,
                            "selector": "operation"
                        },
                        "smithy.api#required": {}
                    }
                },
                "error": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Indicates the error that tells clients that the endpoint they are using\nis no longer valid. This error MUST be bound to any operation bound to\nthe service which is marked with the aws.api#clientDiscoveredEndpoint\ntrait.",
                        "smithy.api#idRef": {
                            "failWhenMissing": true,
                            "selector": "structure[trait|error]"
                        },
                        "smithy.api#recommended": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Configures endpoint discovery for the service.",
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.api#clientEndpointDiscoveryId": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Indicates members of the operation input which should be use to discover\nendpoints.",
                "smithy.api#trait": {
                    "selector": "operation[trait|aws.api#clientDiscoveredEndpoint] -[input]->\nstructure > :test(member[trait|required] > string)"
                }
            }
        },
        "aws.api#controlPlane": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Defines a service, resource, or operation as operating on the control plane.",
                "smithy.api#trait": {
                    "selector": ":test(service, resource, operation)",
                    "conflicts": [
                        "aws.api#dataPlane"
                    ]
                }
            }
        },
        "aws.api#data": {
            "type": "enum",
            "members": {
                "CUSTOMER_CONTENT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Customer content means any software (including machine images), data,\ntext, audio, video or images that customers or any customer end user\ntransfers to AWS for processing, storage or hosting by AWS services in\nconnection with the customer’s accounts and any computational results\nthat customers or any customer end user derive from the foregoing\nthrough their use of AWS services.",
                        "smithy.api#enumValue": "content"
                    }
                },
                "CUSTOMER_ACCOUNT_INFORMATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Account information means information about customers that customers\nprovide to AWS in connection with the creation or administration of\ncustomers’ accounts.",
                        "smithy.api#enumValue": "account"
                    }
                },
                "SERVICE_ATTRIBUTES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Service Attributes means service usage data related to a customer’s\naccount, such as resource identifiers, metadata tags, security and\naccess roles, rules, usage policies, permissions, usage statistics,\nlogging data, and analytics.",
                        "smithy.api#enumValue": "usage"
                    }
                },
                "TAG_DATA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Designates metadata tags applied to AWS resources.",
                        "smithy.api#enumValue": "tagging"
                    }
                },
                "PERMISSIONS_DATA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Designates security and access roles, rules, usage policies, and\npermissions.",
                        "smithy.api#enumValue": "permissions"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Designates the target as containing data of a known classification level.",
                "smithy.api#trait": {
                    "selector": ":test(simpleType, list, structure, union, member)"
                }
            }
        },
        "aws.api#dataPlane": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Defines a service, resource, or operation as operating on the data plane.",
                "smithy.api#trait": {
                    "selector": ":test(service, resource, operation)",
                    "conflicts": [
                        "aws.api#controlPlane"
                    ]
                }
            }
        },
        "aws.api#service": {
            "type": "structure",
            "members": {
                "sdkId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The `sdkId` property is a required string value that specifies the AWS\nSDK service ID (e.g., \"API Gateway\"). This value is used for generating\nclient names in SDKs and for linking between services.",
                        "smithy.api#required": {}
                    }
                },
                "arnNamespace": {
                    "target": "aws.api#ArnNamespace",
                    "traits": {
                        "smithy.api#documentation": "The `arnNamespace` property is a string value that defines the ARN service\nnamespace of the service (e.g., \"apigateway\"). This value is used in\nARNs assigned to resources in the service. If not set, this value\ndefaults to the lowercase name of the service shape."
                    }
                },
                "cloudFormationName": {
                    "target": "aws.api#CloudFormationName",
                    "traits": {
                        "smithy.api#documentation": "The `cloudFormationName` property is a string value that specifies the\nAWS CloudFormation service name (e.g., `ApiGateway`). When not set,\nthis value defaults to the name of the service shape. This value is\npart of the CloudFormation resource type name that is automatically\nassigned to resources in the service (e.g., `AWS::<NAME>::resourceName`)."
                    }
                },
                "cloudTrailEventSource": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The `cloudTrailEventSource` property is a string value that defines the\nAWS customer-facing eventSource property contained in CloudTrail event\nrecords emitted by the service. If not specified, this value defaults\nto the `arnNamespace` plus `.amazonaws.com`."
                    }
                },
                "docId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The `docId` property is a string value that defines the identifier\nused to implemention linking between service and SDK documentation for\nAWS services. If not specified, this value defaults to the `sdkId` in\nlower case plus the service `version` property, separated by dashes."
                    }
                },
                "endpointPrefix": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The `endpointPrefix` property is a string value that identifies which\nendpoint in a given region should be used to connect to the service.\nFor example, most services in the AWS standard partition have endpoints\nwhich follow the format: `{endpointPrefix}.{region}.amazonaws.com`. A\nservice with the endpoint prefix example in the region us-west-2 might\nhave the endpoint example.us-west-2.amazonaws.com.\n\nThis value is not unique across services and is subject to change.\nTherefore, it MUST NOT be used for client naming or for any other\npurpose that requires a static, unique identifier. sdkId should be used\nfor those purposes. Additionally, this value can be used to attempt to\nresolve endpoints."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "An AWS service is defined using the `aws.api#service` trait. This trait\nprovides information about the service like the name used to generate AWS\nSDK client classes and the namespace used in ARNs.",
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.api#tagEnabled": {
            "type": "structure",
            "members": {
                "disableDefaultOperations": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "The `disableDefaultOperations` property is a boolean value that specifies\nif the service does not have the standard tag operations supporting all\nresources on the service. Default value is `false`"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Annotates a service as having tagging on 1 or more resources and associated\nAPIs to perform CRUD operations on those tags",
                "smithy.api#trait": {
                    "selector": "service"
                },
                "smithy.api#unstable": {}
            }
        },
        "aws.api#taggable": {
            "type": "structure",
            "members": {
                "property": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The `property` property is a string value that identifies which\nresource property represents tags for the resource."
                    }
                },
                "apiConfig": {
                    "target": "aws.api#TaggableApiConfig",
                    "traits": {
                        "smithy.api#documentation": "Specifies configuration for resource specific tagging APIs if the\nresource has them."
                    }
                },
                "disableSystemTags": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "Flag indicating if the resource is not able to carry AWS system level.\nUsed by service principals. Default value is `false`"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Indicates a resource supports CRUD operations for tags. Either through\nresource lifecycle or instance operations or tagging operations on the\nservice.",
                "smithy.api#trait": {
                    "selector": "resource"
                },
                "smithy.api#unstable": {}
            }
        },
        "aws.auth#StringList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.auth#cognitoUserPools": {
            "type": "structure",
            "members": {
                "providerArns": {
                    "target": "aws.auth#StringList",
                    "traits": {
                        "smithy.api#documentation": "A list of the Amazon Cognito user pool ARNs. Each element is of this\nformat: `arn:aws:cognito-idp:{region}:{account_id}:userpool/{user_pool_id}`.",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#authDefinition": {},
                "smithy.api#documentation": "Configures an Amazon Cognito User Pools auth scheme.",
                "smithy.api#internal": {},
                "smithy.api#tags": [
                    "internal"
                ],
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.auth#sigv4": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The signature version 4 service signing name to use in the credential\nscope when signing requests. This value SHOULD match the `arnNamespace`\nproperty of the `aws.api#service` trait if present and the `name`\nproperty of the `aws.api#sigv4a` trait if present.",
                        "smithy.api#externalDocumentation": {
                            "Reference": "https://docs.aws.amazon.com/general/latest/gr/sigv4-create-string-to-sign.html"
                        },
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#authDefinition": {
                    "traits": [
                        "aws.auth#unsignedPayload"
                    ]
                },
                "smithy.api#documentation": "[Signature Version 4](https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html)\nis the process to add authentication information to AWS requests sent by HTTP. For\nsecurity, most requests to AWS must be signed with an access key, which consists\nof an access key ID and secret access key. These two keys are commonly referred to\nas your security credentials.",
                "smithy.api#externalDocumentation": {
                    "Reference": "https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html"
                },
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.auth#sigv4a": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The signature version 4a service signing name to use in the credential\nscope when signing requests. This value SHOULD match the `arnNamespace`\nproperty of the `aws.api#service` trait if present and the `name`\nproperty of the `aws.api#sigv4` trait.",
                        "smithy.api#externalDocumentation": {
                            "Reference": "https://docs.aws.amazon.com/general/latest/gr/sigv4-create-string-to-sign.html"
                        },
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#authDefinition": {
                    "traits": [
                        "aws.auth#unsignedPayload"
                    ]
                },
                "smithy.api#documentation": "Signature Version 4 Asymmetric (SigV4A), an extension of Signature Version 4 (SigV4), is the\nprocess to add authentication information to AWS requests sent by HTTP. SigV4A is nearly\nidentical to SigV4, but also uses public-private keys and asymmetric cryptographic signatures\nfor every request. Most notably, SigV4A supports signatures for multi-region API requests.",
                "smithy.api#externalDocumentation": {
                    "Reference": "https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html",
                    "Examples": "https://github.com/aws-samples/sigv4a-signing-examples"
                },
                "smithy.api#trait": {
                    "selector": "service[trait|aws.auth#sigv4]"
                }
            }
        },
        "aws.auth#unsignedPayload": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Indicates that the request payload of a signed request is not to be used\nas part of the signature.",
                "smithy.api#trait": {
                    "selector": "operation"
                }
            }
        },
        "aws.customizations#s3UnwrappedXmlOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Indicates the response body from S3 is not wrapped in the\naws-restxml-protocol operation-level XML node. Intended to only be used by\nAWS S3.",
                "smithy.api#trait": {
                    "selector": "operation"
                }
            }
        },
        "aws.protocols#ChecksumAlgorithm": {
            "type": "enum",
            "members": {
                "CRC32C": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "CRC32C",
                        "smithy.api#enumValue": "CRC32C"
                    }
                },
                "CRC32": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "CRC32",
                        "smithy.api#enumValue": "CRC32"
                    }
                },
                "SHA1": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "SHA1",
                        "smithy.api#enumValue": "SHA1"
                    }
                },
                "SHA256": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "SHA256",
                        "smithy.api#enumValue": "SHA256"
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.protocols#ChecksumAlgorithmSet": {
            "type": "list",
            "member": {
                "target": "aws.protocols#ChecksumAlgorithm"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                },
                "smithy.api#private": {},
                "smithy.api#uniqueItems": {}
            }
        },
        "aws.protocols#HttpConfiguration": {
            "type": "structure",
            "members": {
                "http": {
                    "target": "aws.protocols#StringList",
                    "traits": {
                        "smithy.api#documentation": "The priority ordered list of supported HTTP protocol versions."
                    }
                },
                "eventStreamHttp": {
                    "target": "aws.protocols#StringList",
                    "traits": {
                        "smithy.api#documentation": "The priority ordered list of supported HTTP protocol versions that\nare required when using event streams with the service. If not set,\nthis value defaults to the value of the `http` member. Any entry in\n`eventStreamHttp` MUST also appear in `http`."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Contains HTTP protocol configuration for HTTP-based protocols.",
                "smithy.api#mixin": {
                    "localTraits": [
                        "smithy.api#private"
                    ]
                },
                "smithy.api#private": {}
            }
        },
        "aws.protocols#StringList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "aws.protocols#awsJson1_0": {
            "type": "structure",
            "mixins": [
                {
                    "target": "aws.protocols#HttpConfiguration"
                }
            ],
            "members": {},
            "traits": {
                "smithy.api#documentation": "An RPC-based protocol that sends JSON payloads. This protocol does not use\nHTTP binding traits.",
                "smithy.api#protocolDefinition": {
                    "traits": [
                        "smithy.api#timestampFormat",
                        "smithy.api#cors",
                        "smithy.api#endpoint",
                        "smithy.api#hostLabel"
                    ]
                },
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.protocols#awsJson1_1": {
            "type": "structure",
            "mixins": [
                {
                    "target": "aws.protocols#HttpConfiguration"
                }
            ],
            "members": {},
            "traits": {
                "smithy.api#documentation": "An RPC-based protocol that sends JSON payloads. This protocol does not use\nHTTP binding traits.",
                "smithy.api#protocolDefinition": {
                    "traits": [
                        "smithy.api#timestampFormat",
                        "smithy.api#cors",
                        "smithy.api#endpoint",
                        "smithy.api#hostLabel"
                    ]
                },
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.protocols#awsQuery": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#deprecated": {},
                "smithy.api#documentation": "An RPC-based protocol that sends 'POST' requests in the body as\n`x-www-form-urlencoded` strings and responses in XML documents. This\nprotocol does not use HTTP binding traits.",
                "smithy.api#protocolDefinition": {
                    "traits": [
                        "smithy.api#timestampFormat",
                        "smithy.api#cors",
                        "smithy.api#endpoint",
                        "smithy.api#hostLabel",
                        "aws.protocols#awsQueryError",
                        "smithy.api#xmlAttribute",
                        "smithy.api#xmlFlattened",
                        "smithy.api#xmlName",
                        "smithy.api#xmlNamespace"
                    ]
                },
                "smithy.api#trait": {
                    "selector": "service [trait|xmlNamespace]"
                },
                "smithy.api#traitValidators": {
                    "UnsupportedProtocolDocument": {
                        "selector": "~> member :test(> document)",
                        "message": "Document types are not supported with awsQuery"
                    }
                }
            }
        },
        "aws.protocols#awsQueryCompatible": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Enable backward compatibility when migrating from awsQuery to awsJson protocol",
                "smithy.api#trait": {
                    "selector": "service [trait|aws.protocols#awsJson1_0]"
                }
            }
        },
        "aws.protocols#awsQueryError": {
            "type": "structure",
            "members": {
                "code": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The value used to distinguish this error shape during serialization.",
                        "smithy.api#required": {}
                    }
                },
                "httpResponseCode": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "The HTTP response code used on a response containing this error shape.",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Provides the value in the 'Code' distinguishing field and HTTP response\ncode for an operation error.",
                "smithy.api#trait": {
                    "selector": "structure [trait|error]",
                    "breakingChanges": [
                        {
                            "change": "any"
                        }
                    ]
                }
            }
        },
        "aws.protocols#ec2Query": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#deprecated": {},
                "smithy.api#documentation": "An RPC-based protocol that sends 'POST' requests in the body as Amazon EC2\nformatted `x-www-form-urlencoded` strings and responses in XML documents.\nThis protocol does not use HTTP binding traits.",
                "smithy.api#protocolDefinition": {
                    "traits": [
                        "smithy.api#timestampFormat",
                        "smithy.api#cors",
                        "smithy.api#endpoint",
                        "smithy.api#hostLabel",
                        "aws.protocols#ec2QueryName",
                        "smithy.api#xmlAttribute",
                        "smithy.api#xmlFlattened",
                        "smithy.api#xmlName",
                        "smithy.api#xmlNamespace"
                    ]
                },
                "smithy.api#trait": {
                    "selector": "service [trait|xmlNamespace]"
                },
                "smithy.api#traitValidators": {
                    "UnsupportedProtocolDocument": {
                        "selector": "~> member :test(> document)",
                        "message": "Document types are not supported with ec2Query"
                    }
                }
            }
        },
        "aws.protocols#ec2QueryName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Indicates the serialized name of a structure member when that structure is\nserialized for the input of an EC2 operation.",
                "smithy.api#pattern": "^[a-zA-Z_][a-zA-Z_0-9-]*$",
                "smithy.api#trait": {
                    "selector": "structure > member"
                }
            }
        },
        "aws.protocols#httpChecksum": {
            "type": "structure",
            "members": {
                "requestAlgorithmMember": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Defines a top-level operation input member that is used to configure\nrequest checksum behavior."
                    }
                },
                "requestChecksumRequired": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "Indicates an operation requires a checksum in its HTTP request."
                    }
                },
                "requestValidationModeMember": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Defines a top-level operation input member used to opt-in to response\nchecksum validation."
                    }
                },
                "responseAlgorithms": {
                    "target": "aws.protocols#ChecksumAlgorithmSet",
                    "traits": {
                        "smithy.api#documentation": "Defines the checksum algorithms clients should look for when performing\nHTTP response checksum validation."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Indicates that an operation supports checksum validation.",
                "smithy.api#trait": {
                    "selector": "operation"
                },
                "smithy.api#unstable": {}
            }
        },
        "aws.protocols#restJson1": {
            "type": "structure",
            "mixins": [
                {
                    "target": "aws.protocols#HttpConfiguration"
                }
            ],
            "members": {},
            "traits": {
                "smithy.api#documentation": "A RESTful protocol that sends JSON in structured payloads.",
                "smithy.api#protocolDefinition": {
                    "traits": [
                        "smithy.api#timestampFormat",
                        "smithy.api#cors",
                        "smithy.api#endpoint",
                        "smithy.api#hostLabel",
                        "smithy.api#http",
                        "smithy.api#httpError",
                        "smithy.api#httpHeader",
                        "smithy.api#httpLabel",
                        "smithy.api#httpPayload",
                        "smithy.api#httpPrefixHeaders",
                        "smithy.api#httpQuery",
                        "smithy.api#httpQueryParams",
                        "smithy.api#httpResponseCode",
                        "smithy.api#httpChecksumRequired",
                        "smithy.api#jsonName"
                    ]
                },
                "smithy.api#trait": {
                    "selector": "service"
                }
            }
        },
        "aws.protocols#restXml": {
            "type": "structure",
            "mixins": [
                {
                    "target": "aws.protocols#HttpConfiguration"
                }
            ],
            "members": {
                "noErrorWrapping": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#deprecated": {},
                        "smithy.api#documentation": "Disables the serialization wrapping of error properties in an 'Error'\nXML element."
                    }
                }
            },
            "traits": {
                "smithy.api#deprecated": {},
                "smithy.api#documentation": "A RESTful protocol that sends XML in structured payloads.",
                "smithy.api#protocolDefinition": {
                    "traits": [
                        "smithy.api#timestampFormat",
                        "smithy.api#cors",
                        "smithy.api#endpoint",
                        "smithy.api#hostLabel",
                        "smithy.api#http",
                        "smithy.api#httpError",
                        "smithy.api#httpHeader",
                        "smithy.api#httpLabel",
                        "smithy.api#httpPayload",
                        "smithy.api#httpPrefixHeaders",
                        "smithy.api#httpQuery",
                        "smithy.api#httpQueryParams",
                        "smithy.api#httpResponseCode",
                        "smithy.api#httpChecksumRequired",
                        "smithy.api#xmlAttribute",
                        "smithy.api#xmlFlattened",
                        "smithy.api#xmlName",
                        "smithy.api#xmlNamespace"
                    ]
                },
                "smithy.api#trait": {
                    "selector": "service"
                },
                "smithy.api#traitValidators": {
                    "UnsupportedProtocolDocument": {
                        "selector": "~> member :test(> document)",
                        "message": "Document types are not supported with restXml"
                    }
                }
            }
        },
        "com.netflix.api#AddToUserList": {
            "type": "operation",
            "input": {
                "target": "com.netflix.api#AddToUserListInput"
            },
            "output": {
                "target": "com.netflix.api#AddToUserListOutput"
            },
            "errors": [
                {
                    "target": "com.netflix.api#ConflictError"
                },
                {
                    "target": "com.netflix.api#ForbiddenError"
                },
                {
                    "target": "com.netflix.api#NotFoundError"
                },
                {
                    "target": "com.netflix.api#UnauthorizedError"
                },
                {
                    "target": "com.netflix.api#ValidationError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Agrega una película a la lista personal del usuario.\nEl userId debe coincidir con el claim 'sub' del JWT.\nScope requerido: mylist:write",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/users/{userId}/lists",
                    "code": 201
                }
            }
        },
        "com.netflix.api#AddToUserListInput": {
            "type": "structure",
            "members": {
                "userId": {
                    "target": "com.netflix.api#UserId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "movieId": {
                    "target": "com.netflix.api#MovieId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "notes": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#length": {
                            "min": 0,
                            "max": 500
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.netflix.api#AddToUserListOutput": {
            "type": "structure",
            "members": {
                "entry": {
                    "target": "com.netflix.api#UserListEntry",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.netflix.api#ConflictError": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Conflicto — recurso ya existe (409 Conflict)",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.netflix.api#CreateMovie": {
            "type": "operation",
            "input": {
                "target": "com.netflix.api#CreateMovieInput"
            },
            "output": {
                "target": "com.netflix.api#CreateMovieOutput"
            },
            "errors": [
                {
                    "target": "com.netflix.api#ConflictError"
                },
                {
                    "target": "com.netflix.api#ForbiddenError"
                },
                {
                    "target": "com.netflix.api#UnauthorizedError"
                },
                {
                    "target": "com.netflix.api#ValidationError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Crea una nueva película en el catálogo.\nRequiere rol: content_admin o super_admin.\nScope requerido: catalog:write",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/movies",
                    "code": 201
                }
            }
        },
        "com.netflix.api#CreateMovieInput": {
            "type": "structure",
            "members": {
                "title": {
                    "target": "com.netflix.api#MovieTitle",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "synopsis": {
                    "target": "com.netflix.api#Synopsis",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "genreId": {
                    "target": "com.netflix.api#GenreId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "director": {
                    "target": "com.netflix.api#DirectorName",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "releaseYear": {
                    "target": "com.netflix.api#ReleaseYear",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "durationMinutes": {
                    "target": "com.netflix.api#DurationMinutes",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "rating": {
                    "target": "com.netflix.api#Rating"
                },
                "posterUrl": {
                    "target": "com.netflix.api#PosterUrl"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.netflix.api#CreateMovieOutput": {
            "type": "structure",
            "members": {
                "movie": {
                    "target": "com.netflix.api#Movie",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.netflix.api#CreateStreamSession": {
            "type": "operation",
            "input": {
                "target": "com.netflix.api#CreateStreamSessionInput"
            },
            "output": {
                "target": "com.netflix.api#CreateStreamSessionOutput"
            },
            "errors": [
                {
                    "target": "com.netflix.api#ForbiddenError"
                },
                {
                    "target": "com.netflix.api#NotFoundError"
                },
                {
                    "target": "com.netflix.api#UnauthorizedError"
                },
                {
                    "target": "com.netflix.api#ValidationError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Inicia una sesión de streaming generando una URL firmada de CloudFront.\nLa calidad máxima depende del plan del usuario (maxQuality).\nScope requerido: catalog:read",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/streaming/sessions",
                    "code": 201
                }
            }
        },
        "com.netflix.api#CreateStreamSessionInput": {
            "type": "structure",
            "members": {
                "movieId": {
                    "target": "com.netflix.api#MovieId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "preferredQuality": {
                    "target": "com.netflix.api#VideoQuality"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.netflix.api#CreateStreamSessionOutput": {
            "type": "structure",
            "members": {
                "sessionId": {
                    "target": "com.netflix.api#SessionId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "signedUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "quality": {
                    "target": "com.netflix.api#VideoQuality",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "expiresAt": {
                    "target": "com.netflix.api#Timestamp",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.netflix.api#DeleteMovie": {
            "type": "operation",
            "input": {
                "target": "com.netflix.api#DeleteMovieInput"
            },
            "output": {
                "target": "com.netflix.api#DeleteMovieOutput"
            },
            "errors": [
                {
                    "target": "com.netflix.api#ForbiddenError"
                },
                {
                    "target": "com.netflix.api#NotFoundError"
                },
                {
                    "target": "com.netflix.api#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Elimina una película del catálogo.\nRequiere rol: super_admin.\nScope requerido: catalog:delete",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v1/movies/{movieId}",
                    "code": 204
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.netflix.api#DeleteMovieInput": {
            "type": "structure",
            "members": {
                "movieId": {
                    "target": "com.netflix.api#MovieId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.netflix.api#DeleteMovieOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.netflix.api#DeleteStreamSession": {
            "type": "operation",
            "input": {
                "target": "com.netflix.api#DeleteStreamSessionInput"
            },
            "output": {
                "target": "com.netflix.api#DeleteStreamSessionOutput"
            },
            "errors": [
                {
                    "target": "com.netflix.api#ForbiddenError"
                },
                {
                    "target": "com.netflix.api#NotFoundError"
                },
                {
                    "target": "com.netflix.api#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Termina una sesión de streaming activa.\nScope requerido: catalog:read",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v1/streaming/sessions/{sessionId}",
                    "code": 204
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.netflix.api#DeleteStreamSessionInput": {
            "type": "structure",
            "members": {
                "sessionId": {
                    "target": "com.netflix.api#SessionId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.netflix.api#DeleteStreamSessionOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.netflix.api#DeleteWatchHistory": {
            "type": "operation",
            "input": {
                "target": "com.netflix.api#DeleteWatchHistoryInput"
            },
            "output": {
                "target": "com.netflix.api#DeleteWatchHistoryOutput"
            },
            "errors": [
                {
                    "target": "com.netflix.api#ForbiddenError"
                },
                {
                    "target": "com.netflix.api#NotFoundError"
                },
                {
                    "target": "com.netflix.api#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Elimina una entrada del historial de reproducción.\nScope requerido: history:write",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v1/users/{userId}/history/{movieId}",
                    "code": 204
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.netflix.api#DeleteWatchHistoryInput": {
            "type": "structure",
            "members": {
                "userId": {
                    "target": "com.netflix.api#UserId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "movieId": {
                    "target": "com.netflix.api#MovieId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.netflix.api#DeleteWatchHistoryOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.netflix.api#DirectorName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Nombre del director",
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                }
            }
        },
        "com.netflix.api#DurationMinutes": {
            "type": "integer",
            "traits": {
                "smithy.api#documentation": "Duración en minutos",
                "smithy.api#range": {
                    "min": 1,
                    "max": 1000
                }
            }
        },
        "com.netflix.api#FieldError": {
            "type": "structure",
            "members": {
                "field": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.netflix.api#FieldErrorList": {
            "type": "list",
            "member": {
                "target": "com.netflix.api#FieldError"
            }
        },
        "com.netflix.api#ForbiddenError": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "requiredScope": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "El scope o rol requerido para esta operación"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Error de autorización — token válido pero sin permisos suficientes (403 Forbidden)",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.netflix.api#Genre": {
            "type": "structure",
            "members": {
                "genreId": {
                    "target": "com.netflix.api#GenreId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.netflix.api#GenreName",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "smithy.api#String"
                },
                "movieCount": {
                    "target": "smithy.api#Integer"
                }
            },
            "traits": {
                "smithy.api#documentation": "Estructura de un género de contenido"
            }
        },
        "com.netflix.api#GenreId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Identificador del género (slug: e.g., \"action\", \"drama\")",
                "smithy.api#length": {
                    "min": 1,
                    "max": 50
                },
                "smithy.api#pattern": "^[a-z][a-z0-9_-]{0,49}$",
                "smithy.api#references": [
                    {
                        "resource": "com.netflix.api#GenreResource"
                    }
                ]
            }
        },
        "com.netflix.api#GenreList": {
            "type": "list",
            "member": {
                "target": "com.netflix.api#Genre"
            }
        },
        "com.netflix.api#GenreName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Nombre para mostrar del género",
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                }
            }
        },
        "com.netflix.api#GenreResource": {
            "type": "resource",
            "identifiers": {
                "genreId": {
                    "target": "com.netflix.api#GenreId"
                }
            },
            "read": {
                "target": "com.netflix.api#GetGenre"
            },
            "list": {
                "target": "com.netflix.api#ListGenres"
            },
            "operations": [
                {
                    "target": "com.netflix.api#ListMoviesByGenre"
                }
            ]
        },
        "com.netflix.api#GetGenre": {
            "type": "operation",
            "input": {
                "target": "com.netflix.api#GetGenreInput"
            },
            "output": {
                "target": "com.netflix.api#GetGenreOutput"
            },
            "errors": [
                {
                    "target": "com.netflix.api#NotFoundError"
                },
                {
                    "target": "com.netflix.api#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Obtiene un género por su ID.\nScope requerido: catalog:read",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v1/genres/{genreId}",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.netflix.api#GetGenreInput": {
            "type": "structure",
            "members": {
                "genreId": {
                    "target": "com.netflix.api#GenreId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.netflix.api#GetGenreOutput": {
            "type": "structure",
            "members": {
                "genre": {
                    "target": "com.netflix.api#Genre",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.netflix.api#GetMovie": {
            "type": "operation",
            "input": {
                "target": "com.netflix.api#GetMovieInput"
            },
            "output": {
                "target": "com.netflix.api#GetMovieOutput"
            },
            "errors": [
                {
                    "target": "com.netflix.api#NotFoundError"
                },
                {
                    "target": "com.netflix.api#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Obtiene los detalles de una película por su ID.\nScope requerido: catalog:read",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v1/movies/{movieId}",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.netflix.api#GetMovieInput": {
            "type": "structure",
            "members": {
                "movieId": {
                    "target": "com.netflix.api#MovieId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.netflix.api#GetMovieOutput": {
            "type": "structure",
            "members": {
                "movie": {
                    "target": "com.netflix.api#Movie",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.netflix.api#GetStreamSession": {
            "type": "operation",
            "input": {
                "target": "com.netflix.api#GetStreamSessionInput"
            },
            "output": {
                "target": "com.netflix.api#GetStreamSessionOutput"
            },
            "errors": [
                {
                    "target": "com.netflix.api#ForbiddenError"
                },
                {
                    "target": "com.netflix.api#NotFoundError"
                },
                {
                    "target": "com.netflix.api#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Obtiene los detalles de una sesión de streaming activa.\nScope requerido: catalog:read",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v1/streaming/sessions/{sessionId}",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.netflix.api#GetStreamSessionInput": {
            "type": "structure",
            "members": {
                "sessionId": {
                    "target": "com.netflix.api#SessionId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.netflix.api#GetStreamSessionOutput": {
            "type": "structure",
            "members": {
                "session": {
                    "target": "com.netflix.api#StreamSession",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.netflix.api#GetUserList": {
            "type": "operation",
            "input": {
                "target": "com.netflix.api#GetUserListInput"
            },
            "output": {
                "target": "com.netflix.api#GetUserListOutput"
            },
            "errors": [
                {
                    "target": "com.netflix.api#ForbiddenError"
                },
                {
                    "target": "com.netflix.api#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Obtiene la lista personal de películas de un usuario.\nEl userId se valida contra el token JWT — solo el propietario o un super_admin puede acceder.\nScope requerido: mylist:read",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v1/users/{userId}/lists",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.netflix.api#GetUserListInput": {
            "type": "structure",
            "members": {
                "userId": {
                    "target": "com.netflix.api#UserId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.netflix.api#GetUserListOutput": {
            "type": "structure",
            "members": {
                "items": {
                    "target": "com.netflix.api#UserListEntries",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.netflix.api#GetWatchHistory": {
            "type": "operation",
            "input": {
                "target": "com.netflix.api#GetWatchHistoryInput"
            },
            "output": {
                "target": "com.netflix.api#GetWatchHistoryOutput"
            },
            "errors": [
                {
                    "target": "com.netflix.api#ForbiddenError"
                },
                {
                    "target": "com.netflix.api#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Obtiene el historial de reproducción del usuario.\nEl userId se valida contra el token JWT — solo el propietario o super_admin pueden acceder.\nScope requerido: history:read",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v1/users/{userId}/history",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.netflix.api#GetWatchHistoryInput": {
            "type": "structure",
            "members": {
                "userId": {
                    "target": "com.netflix.api#UserId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "completed": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#httpQuery": "completed"
                    }
                },
                "nextToken": {
                    "target": "com.netflix.api#PaginationToken",
                    "traits": {
                        "smithy.api#httpQuery": "nextToken"
                    }
                },
                "maxResults": {
                    "target": "com.netflix.api#MaxResults",
                    "traits": {
                        "smithy.api#httpQuery": "maxResults"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.netflix.api#GetWatchHistoryOutput": {
            "type": "structure",
            "members": {
                "items": {
                    "target": "com.netflix.api#WatchHistoryEntries",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "nextToken": {
                    "target": "com.netflix.api#PaginationToken"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.netflix.api#InternalServerError": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Error interno del servidor (500 Internal Server Error)",
                "smithy.api#error": "server",
                "smithy.api#httpError": 500
            }
        },
        "com.netflix.api#ListGenres": {
            "type": "operation",
            "input": {
                "target": "com.netflix.api#ListGenresInput"
            },
            "output": {
                "target": "com.netflix.api#ListGenresOutput"
            },
            "errors": [
                {
                    "target": "com.netflix.api#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Lista todos los géneros disponibles.\nScope requerido: catalog:read",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v1/genres",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.netflix.api#ListGenresInput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.netflix.api#ListGenresOutput": {
            "type": "structure",
            "members": {
                "items": {
                    "target": "com.netflix.api#GenreList",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.netflix.api#ListMovies": {
            "type": "operation",
            "input": {
                "target": "com.netflix.api#ListMoviesInput"
            },
            "output": {
                "target": "com.netflix.api#ListMoviesOutput"
            },
            "errors": [
                {
                    "target": "com.netflix.api#UnauthorizedError"
                },
                {
                    "target": "com.netflix.api#ValidationError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Lista todas las películas del catálogo con filtros opcionales.\nSoporta paginación y filtrado por género, director o año.\nScope requerido: catalog:read",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v1/movies",
                    "code": 200
                },
                "smithy.api#paginated": {},
                "smithy.api#readonly": {}
            }
        },
        "com.netflix.api#ListMoviesByGenre": {
            "type": "operation",
            "input": {
                "target": "com.netflix.api#ListMoviesByGenreInput"
            },
            "output": {
                "target": "com.netflix.api#ListMoviesByGenreOutput"
            },
            "errors": [
                {
                    "target": "com.netflix.api#NotFoundError"
                },
                {
                    "target": "com.netflix.api#UnauthorizedError"
                },
                {
                    "target": "com.netflix.api#ValidationError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Lista películas filtradas por género.\nScope requerido: catalog:read",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v1/genres/{genreId}/movies",
                    "code": 200
                },
                "smithy.api#paginated": {},
                "smithy.api#readonly": {}
            }
        },
        "com.netflix.api#ListMoviesByGenreInput": {
            "type": "structure",
            "members": {
                "genreId": {
                    "target": "com.netflix.api#GenreId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "nextToken": {
                    "target": "com.netflix.api#PaginationToken",
                    "traits": {
                        "smithy.api#httpQuery": "nextToken"
                    }
                },
                "maxResults": {
                    "target": "com.netflix.api#MaxResults",
                    "traits": {
                        "smithy.api#httpQuery": "maxResults"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.netflix.api#ListMoviesByGenreOutput": {
            "type": "structure",
            "members": {
                "items": {
                    "target": "com.netflix.api#MovieList",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "nextToken": {
                    "target": "com.netflix.api#PaginationToken"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.netflix.api#ListMoviesInput": {
            "type": "structure",
            "members": {
                "genre": {
                    "target": "com.netflix.api#GenreId",
                    "traits": {
                        "smithy.api#httpQuery": "genre"
                    }
                },
                "director": {
                    "target": "com.netflix.api#DirectorName",
                    "traits": {
                        "smithy.api#httpQuery": "director"
                    }
                },
                "year": {
                    "target": "com.netflix.api#ReleaseYear",
                    "traits": {
                        "smithy.api#httpQuery": "year"
                    }
                },
                "q": {
                    "target": "com.netflix.api#MovieTitle",
                    "traits": {
                        "smithy.api#httpQuery": "q"
                    }
                },
                "nextToken": {
                    "target": "com.netflix.api#PaginationToken",
                    "traits": {
                        "smithy.api#httpQuery": "nextToken"
                    }
                },
                "maxResults": {
                    "target": "com.netflix.api#MaxResults",
                    "traits": {
                        "smithy.api#httpQuery": "maxResults"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.netflix.api#ListMoviesOutput": {
            "type": "structure",
            "members": {
                "items": {
                    "target": "com.netflix.api#MovieList",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "nextToken": {
                    "target": "com.netflix.api#PaginationToken"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.netflix.api#MaxResults": {
            "type": "integer",
            "traits": {
                "smithy.api#documentation": "Máximo de resultados por página",
                "smithy.api#range": {
                    "min": 1,
                    "max": 100
                }
            }
        },
        "com.netflix.api#Movie": {
            "type": "structure",
            "members": {
                "movieId": {
                    "target": "com.netflix.api#MovieId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "title": {
                    "target": "com.netflix.api#MovieTitle",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "synopsis": {
                    "target": "com.netflix.api#Synopsis",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "genreId": {
                    "target": "com.netflix.api#GenreId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "director": {
                    "target": "com.netflix.api#DirectorName",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "releaseYear": {
                    "target": "com.netflix.api#ReleaseYear",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "durationMinutes": {
                    "target": "com.netflix.api#DurationMinutes",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "rating": {
                    "target": "com.netflix.api#Rating"
                },
                "posterUrl": {
                    "target": "com.netflix.api#PosterUrl"
                },
                "videoStatus": {
                    "target": "com.netflix.api#VideoStatus"
                },
                "createdAt": {
                    "target": "com.netflix.api#Timestamp",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "com.netflix.api#Timestamp"
                }
            },
            "traits": {
                "smithy.api#documentation": "Estructura completa de una película"
            }
        },
        "com.netflix.api#MovieId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Identificador único de una película (UUID v4)",
                "smithy.api#length": {
                    "min": 36,
                    "max": 36
                },
                "smithy.api#pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
            }
        },
        "com.netflix.api#MovieList": {
            "type": "list",
            "member": {
                "target": "com.netflix.api#Movie"
            }
        },
        "com.netflix.api#MovieResource": {
            "type": "resource",
            "identifiers": {
                "movieId": {
                    "target": "com.netflix.api#MovieId"
                }
            },
            "create": {
                "target": "com.netflix.api#CreateMovie"
            },
            "read": {
                "target": "com.netflix.api#GetMovie"
            },
            "update": {
                "target": "com.netflix.api#UpdateMovie"
            },
            "delete": {
                "target": "com.netflix.api#DeleteMovie"
            },
            "list": {
                "target": "com.netflix.api#ListMovies"
            }
        },
        "com.netflix.api#MovieTitle": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Título de la película",
                "smithy.api#length": {
                    "min": 1,
                    "max": 200
                }
            }
        },
        "com.netflix.api#NetflixService": {
            "type": "service",
            "version": "2026-05-09",
            "resources": [
                {
                    "target": "com.netflix.api#GenreResource"
                },
                {
                    "target": "com.netflix.api#MovieResource"
                },
                {
                    "target": "com.netflix.api#StreamSessionResource"
                },
                {
                    "target": "com.netflix.api#UserListResource"
                },
                {
                    "target": "com.netflix.api#WatchHistoryResource"
                }
            ],
            "errors": [
                {
                    "target": "com.netflix.api#ForbiddenError"
                },
                {
                    "target": "com.netflix.api#InternalServerError"
                },
                {
                    "target": "com.netflix.api#UnauthorizedError"
                },
                {
                    "target": "com.netflix.api#ValidationError"
                }
            ],
            "traits": {
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "Netflix Clone — API REST para gestión de catálogo de películas y listas de usuario.\nAutenticación vía Bearer Token JWT (OIDC/Auth0).",
                "smithy.api#httpBearerAuth": {},
                "smithy.api#paginated": {
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "pageSize": "maxResults"
                },
                "smithy.api#title": "Netflix Clone API"
            }
        },
        "com.netflix.api#NotFoundError": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "resourceType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Tipo del recurso no encontrado (e.g., \"Movie\", \"UserList\")"
                    }
                },
                "resourceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "ID del recurso no encontrado"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Recurso no encontrado (404 Not Found)",
                "smithy.api#error": "client",
                "smithy.api#httpError": 404
            }
        },
        "com.netflix.api#PaginationToken": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Token de paginación",
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                }
            }
        },
        "com.netflix.api#PosterUrl": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "URL del poster",
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                },
                "smithy.api#pattern": "^https?://.*$"
            }
        },
        "com.netflix.api#Rating": {
            "type": "float",
            "traits": {
                "smithy.api#documentation": "Calificación promedio",
                "smithy.api#range": {
                    "min": 0,
                    "max": 10
                }
            }
        },
        "com.netflix.api#ReleaseYear": {
            "type": "integer",
            "traits": {
                "smithy.api#documentation": "Año de lanzamiento",
                "smithy.api#range": {
                    "min": 1888,
                    "max": 2030
                }
            }
        },
        "com.netflix.api#RemoveFromUserList": {
            "type": "operation",
            "input": {
                "target": "com.netflix.api#RemoveFromUserListInput"
            },
            "output": {
                "target": "com.netflix.api#RemoveFromUserListOutput"
            },
            "errors": [
                {
                    "target": "com.netflix.api#ForbiddenError"
                },
                {
                    "target": "com.netflix.api#NotFoundError"
                },
                {
                    "target": "com.netflix.api#UnauthorizedError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Elimina una película de la lista personal del usuario.\nEl userId debe coincidir con el claim 'sub' del JWT.\nScope requerido: mylist:write",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v1/users/{userId}/lists/{movieId}",
                    "code": 204
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.netflix.api#RemoveFromUserListInput": {
            "type": "structure",
            "members": {
                "userId": {
                    "target": "com.netflix.api#UserId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "movieId": {
                    "target": "com.netflix.api#MovieId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.netflix.api#RemoveFromUserListOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.netflix.api#SessionId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Identificador único de una sesión de streaming (UUID v4)",
                "smithy.api#length": {
                    "min": 36,
                    "max": 36
                },
                "smithy.api#pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
            }
        },
        "com.netflix.api#StreamSession": {
            "type": "structure",
            "members": {
                "sessionId": {
                    "target": "com.netflix.api#SessionId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "userId": {
                    "target": "com.netflix.api#UserId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "movieId": {
                    "target": "com.netflix.api#MovieId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "signedUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#length": {
                            "min": 1,
                            "max": 2048
                        },
                        "smithy.api#required": {}
                    }
                },
                "quality": {
                    "target": "com.netflix.api#VideoQuality",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "expiresAt": {
                    "target": "com.netflix.api#Timestamp",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "com.netflix.api#Timestamp",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Sesión activa de streaming con URL firmada de CloudFront"
            }
        },
        "com.netflix.api#StreamSessionResource": {
            "type": "resource",
            "identifiers": {
                "sessionId": {
                    "target": "com.netflix.api#SessionId"
                }
            },
            "create": {
                "target": "com.netflix.api#CreateStreamSession"
            },
            "read": {
                "target": "com.netflix.api#GetStreamSession"
            },
            "delete": {
                "target": "com.netflix.api#DeleteStreamSession"
            }
        },
        "com.netflix.api#Synopsis": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Sinopsis o descripción de la película",
                "smithy.api#length": {
                    "min": 0,
                    "max": 2000
                }
            }
        },
        "com.netflix.api#Timestamp": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Timestamp ISO 8601",
                "smithy.api#pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(\\.\\d+)?Z$"
            }
        },
        "com.netflix.api#UnauthorizedError": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Error de autenticación — token ausente, expirado o inválido (401 Unauthorized)",
                "smithy.api#error": "client",
                "smithy.api#httpError": 401
            }
        },
        "com.netflix.api#UpdateMovie": {
            "type": "operation",
            "input": {
                "target": "com.netflix.api#UpdateMovieInput"
            },
            "output": {
                "target": "com.netflix.api#UpdateMovieOutput"
            },
            "errors": [
                {
                    "target": "com.netflix.api#ForbiddenError"
                },
                {
                    "target": "com.netflix.api#NotFoundError"
                },
                {
                    "target": "com.netflix.api#UnauthorizedError"
                },
                {
                    "target": "com.netflix.api#ValidationError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Actualiza los datos de una película existente.\nRequiere rol: content_admin o super_admin.\nScope requerido: catalog:write",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/v1/movies/{movieId}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.netflix.api#UpdateMovieInput": {
            "type": "structure",
            "members": {
                "movieId": {
                    "target": "com.netflix.api#MovieId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "title": {
                    "target": "com.netflix.api#MovieTitle"
                },
                "synopsis": {
                    "target": "com.netflix.api#Synopsis"
                },
                "genreId": {
                    "target": "com.netflix.api#GenreId"
                },
                "director": {
                    "target": "com.netflix.api#DirectorName"
                },
                "releaseYear": {
                    "target": "com.netflix.api#ReleaseYear"
                },
                "durationMinutes": {
                    "target": "com.netflix.api#DurationMinutes"
                },
                "rating": {
                    "target": "com.netflix.api#Rating"
                },
                "posterUrl": {
                    "target": "com.netflix.api#PosterUrl"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.netflix.api#UpdateMovieOutput": {
            "type": "structure",
            "members": {
                "movie": {
                    "target": "com.netflix.api#Movie",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.netflix.api#UpdateWatchProgress": {
            "type": "operation",
            "input": {
                "target": "com.netflix.api#UpdateWatchProgressInput"
            },
            "output": {
                "target": "com.netflix.api#UpdateWatchProgressOutput"
            },
            "errors": [
                {
                    "target": "com.netflix.api#ForbiddenError"
                },
                {
                    "target": "com.netflix.api#NotFoundError"
                },
                {
                    "target": "com.netflix.api#UnauthorizedError"
                },
                {
                    "target": "com.netflix.api#ValidationError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Actualiza el progreso de reproducción de una película.\nEl userId debe coincidir con el claim 'sub' del JWT.\nScope requerido: history:write",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/v1/users/{userId}/history/{movieId}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.netflix.api#UpdateWatchProgressInput": {
            "type": "structure",
            "members": {
                "userId": {
                    "target": "com.netflix.api#UserId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "movieId": {
                    "target": "com.netflix.api#MovieId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "progressSeconds": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#range": {
                            "min": 0,
                            "max": 86400
                        },
                        "smithy.api#required": {}
                    }
                },
                "completed": {
                    "target": "smithy.api#Boolean"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.netflix.api#UpdateWatchProgressOutput": {
            "type": "structure",
            "members": {
                "entry": {
                    "target": "com.netflix.api#WatchHistoryEntry",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.netflix.api#UserId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Identificador único de usuario (derivado del claim 'sub' del JWT)",
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                }
            }
        },
        "com.netflix.api#UserListEntries": {
            "type": "list",
            "member": {
                "target": "com.netflix.api#UserListEntry"
            }
        },
        "com.netflix.api#UserListEntry": {
            "type": "structure",
            "members": {
                "userId": {
                    "target": "com.netflix.api#UserId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "movieId": {
                    "target": "com.netflix.api#MovieId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "addedAt": {
                    "target": "com.netflix.api#Timestamp",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "notes": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#length": {
                            "min": 0,
                            "max": 500
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Entrada en la lista de un usuario"
            }
        },
[...]
